<nav class="mb20">
  <ul class="main-menu-list">
    @for (menuItem of menuItems; track menuItem.link) {
      <li>
        <a
          class="menu-item"
          [routerLink]="[menuItem.link]"
          routerLinkActive="active"
        >
          <svg [icon]="menuItem.icon"></svg>
          <span>{{ menuItem.label }}</span>
        </a>
      </li>
      @if (menuItem.label === 'Your Library' || menuItem.label === 'Upload Track') {
        <li class="sidebar-separator" role="separator" aria-hidden="true"></li>
      }

    }
  </ul>
</nav>

