.grid {
  display: grid;
  gap: 8px;
  padding: 0;
  margin: 0 auto;
  list-style: none;


  grid-template-columns: repeat(auto-fit, 264px);
  justify-content: center;


  max-width: calc(5 * 264px + 4 * 8px); //1320 =32=1352
}

.item {
  display: block;
  min-width: 0; /* защита от переполнения */
}

.track {
margin-left: 40px;
  align-items: center;      /* вертикально */
  justify-content: center;  /* горизонтально (по желанию) */
      /* пример: на всю высоту экрана */
}

