.grid {
  display: grid;
  gap: 8px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  grid-template-columns: repeat(auto-fit, 264px);
  justify-content: center;
 //max-width: ( calc(5 * 264px + 4 * 8px));
  width: 100%;



}

.item {
  display: block;
  min-width: 0;
}

.track {
  align-items: center;
  justify-content: center;

}

