/* You can add global styles to this file, and also import other style files */
@import 'fonts';
@import 'margins';
:root {
  --font-family: "Lato", sans-serif;
  --second-family: "Avenir Next", sans-serif;
  --third-family: "Roboto", sans-serif;
  --dark-color: #000000;
  --dark-active-color: #161616;
  --light-color: #ffffff;
  --primary-color: #ae7aff;
  --gray-color: #5f646d;
  --dark-hover-color: #161616;
  --light-transparent-color: rgba(255, 255, 255, 0.75);
  --message-color: #404040;

  --light-border: 1px solid var(--light-color);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;

  background:  linear-gradient(180deg, #3333a3 0%, #121212 100%);
  color: var(--light-color);
  font-family: var(--font-family), -apple-system, system-ui, sans-serif;
  //background-image: url(/assets/imgs/background.jpg);
  //background-size: cover;
  //background-repeat: no-repeat;
}
